# Mac
**.DS_Store

# Executables
bin/

# Python
venv/

# Docker
docker-compose.yml

# Jetbrains
.idea/

# Files
.data/
.results/
.saved_sessions/
**/__pycache__

# Config
client/compose_config.yaml
gateway/compose_config.yaml
