name: coffee-shop-analyzer
services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4.1.4-management
    volumes:
    - rabbitmq-volume:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_NODENAME: rabbit@rabbitmq
    networks:
    - coffee
    ports:
    - 5672:5672
    - 8080:15672
    healthcheck:
      test: rabbitmq-diagnostics -q check_running && rabbitmq-diagnostics -q check_local_alarms && rabbitmq-diagnostics -q check_port_connectivity
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 40s
  gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    entrypoint: python main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
  client_min:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    entrypoint: python main.py
    networks:
    - coffee
    depends_on:
    - gateway
    environment:
      LOGGING_LEVEL: DEBUG
    volumes:
    - ./.data/dataset_min:/client/.data
    - ./.results:/client/.results
    scale: 3
  transformer_transactions_0:
    container_name: transformer_transactions_0
    image: transformer_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/transformers/transformer_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '0'
      REPLICAS: '5'
      STAGE_NAME: transformer_transactions
      MODULE_NAME: transaction
      FROM: raw_transactions_batches
      TO: '[{"name": "transactions_source", "downstream_stage": "q1_filter_year", "downstream_workers": 6}]'
  transformer_transactions_1:
    container_name: transformer_transactions_1
    image: transformer_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/transformers/transformer_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '1'
      REPLICAS: '5'
      STAGE_NAME: transformer_transactions
      MODULE_NAME: transaction
      FROM: raw_transactions_batches
      TO: '[{"name": "transactions_source", "downstream_stage": "q1_filter_year", "downstream_workers": 6}]'
  transformer_transactions_2:
    container_name: transformer_transactions_2
    image: transformer_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/transformers/transformer_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '2'
      REPLICAS: '5'
      STAGE_NAME: transformer_transactions
      MODULE_NAME: transaction
      FROM: raw_transactions_batches
      TO: '[{"name": "transactions_source", "downstream_stage": "q1_filter_year", "downstream_workers": 6}]'
  transformer_transactions_3:
    container_name: transformer_transactions_3
    image: transformer_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/transformers/transformer_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '3'
      REPLICAS: '5'
      STAGE_NAME: transformer_transactions
      MODULE_NAME: transaction
      FROM: raw_transactions_batches
      TO: '[{"name": "transactions_source", "downstream_stage": "q1_filter_year", "downstream_workers": 6}]'
  transformer_transactions_4:
    container_name: transformer_transactions_4
    image: transformer_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/transformers/transformer_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '4'
      REPLICAS: '5'
      STAGE_NAME: transformer_transactions
      MODULE_NAME: transaction
      FROM: raw_transactions_batches
      TO: '[{"name": "transactions_source", "downstream_stage": "q1_filter_year", "downstream_workers": 6}]'
  q1_filter_year_0:
    container_name: q1_filter_year_0
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '0'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_year_1:
    container_name: q1_filter_year_1
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '1'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_year_2:
    container_name: q1_filter_year_2
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '2'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_year_3:
    container_name: q1_filter_year_3
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '3'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_year_4:
    container_name: q1_filter_year_4
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '4'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_year_5:
    container_name: q1_filter_year_5
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '5'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_year
      MODULE_NAME: year
      FROM: transactions_source
      TO: '[{"name": "q1.filtered_year", "downstream_stage": "q1_filter_hour", "downstream_workers": 6}]'
  q1_filter_hour_0:
    container_name: q1_filter_hour_0
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '0'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_hour_1:
    container_name: q1_filter_hour_1
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '1'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_hour_2:
    container_name: q1_filter_hour_2
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '2'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_hour_3:
    container_name: q1_filter_hour_3
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '3'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_hour_4:
    container_name: q1_filter_hour_4
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '4'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_hour_5:
    container_name: q1_filter_hour_5
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '5'
      REPLICAS: '6'
      STAGE_NAME: q1_filter_hour
      MODULE_NAME: hour
      FROM: q1.filtered_year
      TO: '[{"name": "q1.filtered_hour", "downstream_stage": "q1_filter_amount", "downstream_workers": 4}]'
  q1_filter_amount_0:
    container_name: q1_filter_amount_0
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '0'
      REPLICAS: '4'
      STAGE_NAME: q1_filter_amount
      MODULE_NAME: amount
      FROM: q1.filtered_hour
      TO: '[{"name": "q1.filtered_amount", "downstream_stage": "q1_sink", "downstream_workers": 1}]'
  q1_filter_amount_1:
    container_name: q1_filter_amount_1
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '1'
      REPLICAS: '4'
      STAGE_NAME: q1_filter_amount
      MODULE_NAME: amount
      FROM: q1.filtered_hour
      TO: '[{"name": "q1.filtered_amount", "downstream_stage": "q1_sink", "downstream_workers": 1}]'
  q1_filter_amount_2:
    container_name: q1_filter_amount_2
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '2'
      REPLICAS: '4'
      STAGE_NAME: q1_filter_amount
      MODULE_NAME: amount
      FROM: q1.filtered_hour
      TO: '[{"name": "q1.filtered_amount", "downstream_stage": "q1_sink", "downstream_workers": 1}]'
  q1_filter_amount_3:
    container_name: q1_filter_amount_3
    image: filter_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/filters/filter_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '3'
      REPLICAS: '4'
      STAGE_NAME: q1_filter_amount
      MODULE_NAME: amount
      FROM: q1.filtered_hour
      TO: '[{"name": "q1.filtered_amount", "downstream_stage": "q1_sink", "downstream_workers": 1}]'
  q1_sink:
    container_name: q1_sink
    image: sink_worker
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    entrypoint: python /worker/sinks/sink_main.py
    networks:
    - coffee
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      REPLICA_ID: '0'
      REPLICAS: '1'
      STAGE_NAME: q1_sink
      MODULE_NAME: sink_q1
      FROM: q1.filtered_amount
      TO: '[{"name": "results", "downstream_stage": "q1", "downstream_workers": 1, "routing_fn": "by_stage_name"}]'
volumes:
  rabbitmq-volume: null
networks:
  coffee:
    driver: bridge
