settings:
  rabbitmq:
    version: "4.1.4-management"
    user: "admin"
    password: "admin"
  clients:
    min: 3
    full: 0

transformers:
  transactions:
    module: "transaction"
    replicas: 3
    input: "raw_transactions_batches"
    output:
      - name: "transactions_source"
        downstream_stage: "q_testing_filter_amount"
        downstream_workers: 4

queries:
  q_testing:
    description: "Filter transactions by amount → year → hour"
    enabled: true
    stages:
      filter_amount:
        type: "filter"
        module: "amount"
        replicas: 4
        input: "transactions_source"
        output:
          - name: "q1.filtered_amount"
            downstream_stage: "q_testing_filter_year"
            downstream_workers: 5

      filter_year:
        type: "filter"
        module: "year"
        replicas: 5
        input: "q1.filtered_amount"
        output:
          - name: "q1.filtered_year"
            downstream_stage: "q_testing_filter_hour"
            downstream_workers: 1

      filter_hour:
        type: "filter"
        module: "hour"
        replicas: 1
        input: "q1.filtered_year"
        output:
          - name: "q1.filtered_hour"
            downstream_stage: "gateway"
            downstream_workers: 1
